#Question 1: What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

MongoDB is a document-oriented,open-source, and one of the most popular NoSQL database. The term NoSQL means non-relational.
Non relational database has no table like relational database structure.It stores the data in BSON format which is very similar to JSON format.
It has different mechanism for storage and retreival.

Uses of MongoDB:
(i) It is mostly used when we handle very large amount of data.
(ii) We can easily add new fields since it is schema-less.
(iii) Mostly used when we have distributed data.

#Question 2: State and Explain the features of MongoDB.

features of MongoDB :-
(i) Document oriented : Since it is a NoSQL database, it stores the data in document instead of tables.
(ii)Scalable : It is horizontally scalable using shreds
(iii)Indexing : For efficient searching, Indexing is used since it process huge amount of data in very less time
(iv)High Availability : It increases the availability by storing the data in different servers which protect the data from hardware failure.
(v)Aggregation : It process the data and returns the computed results.

In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 15.0 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 32.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
#Question 3: Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.
import pymongo
from _collections_abc import Mapping
from _collections_abc import MutableMapping
from _collections_abc import Sequence
client = pymongo.MongoClient("mongodb+srv://vaishnavid:vaishnavid@cluster0.flenwgm.mongodb.net/?retryWrites=true&w=majority")
db = client.test
db=client['Student']
coll_name=db['Stud_coll']
data={'name':'vaishnavi','age':22,'course':'data science'}
coll_name.insert_one(data)

In [4]:
#Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

data1={'name':'smita','age':22,'course':'java'}
coll_name.insert_one(data1)
data2=({'name':'priya','age':23,'course':'javascript'},{'name':'anu','age':21,'course':'python'},{'name':'prapti','age':23,'course':'R'})
coll_name.insert_many(data2)

In [5]:
data3={'name':'','age':24,'course':'ruby'}
coll_name.insert_one(data3)

In [6]:
print("using find() method")
for i in coll_name.find():
  print(i)
print("using find_one() method")
print(coll_name.find_one({'age':24}))

using find() method
{'_id': ObjectId('646b41036fad28a48cb2b272'), 'name': 'jothi', 'age': 25, 'course': 'data science'}
{'_id': ObjectId('646b411d6fad28a48cb2b273'), 'name': 'malar', 'age': 24, 'course': 'java'}
{'_id': ObjectId('646b411d6fad28a48cb2b274'), 'name': 'sanat', 'age': 29, 'course': 'javascript'}
{'_id': ObjectId('646b411d6fad28a48cb2b275'), 'name': 'anu', 'age': 21, 'course': 'python'}
{'_id': ObjectId('646b411d6fad28a48cb2b276'), 'name': 'nirmal', 'age': 26, 'course': 'R'}
{'_id': ObjectId('646b412b6fad28a48cb2b277'), 'name': 'Lishanth', 'age': 24, 'course': 'ruby'}
using find_one() method
{'_id': ObjectId('646b411d6fad28a48cb2b273'), 'name': 'malar', 'age': 24, 'course': 'java'}

In [7]:
#Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.
'''find() method is used to select the documents in the collection and returns the cursor to the selected document.
When we use find() method, it returns the pointer on the selected document and returns one by one.'''
print("using find() method")
for i in coll_name.find():
  print(i)

using find() method
{'_id': ObjectId('646b41036fad28a48cb2b272'), 'name': 'jothi', 'age': 25, 'course': 'data science'}
{'_id': ObjectId('646b411d6fad28a48cb2b273'), 'name': 'malar', 'age': 24, 'course': 'java'}
{'_id': ObjectId('646b411d6fad28a48cb2b274'), 'name': 'sanat', 'age': 29, 'course': 'javascript'}
{'_id': ObjectId('646b411d6fad28a48cb2b275'), 'name': 'anu', 'age': 21, 'course': 'python'}
{'_id': ObjectId('646b411d6fad28a48cb2b276'), 'name': 'nirmal', 'age': 26, 'course': 'R'}
{'_id': ObjectId('646b412b6fad28a48cb2b277'), 'name': 'Lishanth', 'age': 24, 'course': 'ruby'}

In [8]:
#Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.
'''sort() specifies the order in which the query returns the matching documents from the collection.
It takes the document as the parameter that contains the field:value pair that defines the sort order of the result.
The value is 1 or -1 which specifies the ascending or descending order sort respectively'''
print("sorting name in descending order")
sorted_list=coll_name.find().sort("name",-1)
for i in sorted_list:
  print(i)
print("sorting age in ascending order")
sorted_list1=coll_name.find().sort("age",1)
for i in sorted_list1:
  print(i)

sorting name in descending order
{'_id': ObjectId('646b411d6fad28a48cb2b274'), 'name': 'sanat', 'age': 29, 'course': 'javascript'}
{'_id': ObjectId('646b411d6fad28a48cb2b276'), 'name': 'nirmal', 'age': 26, 'course': 'R'}
{'_id': ObjectId('646b411d6fad28a48cb2b273'), 'name': 'malar', 'age': 24, 'course': 'java'}
{'_id': ObjectId('646b41036fad28a48cb2b272'), 'name': 'jothi', 'age': 25, 'course': 'data science'}
{'_id': ObjectId('646b411d6fad28a48cb2b275'), 'name': 'anu', 'age': 21, 'course': 'python'}
{'_id': ObjectId('646b412b6fad28a48cb2b277'), 'name': 'Lishanth', 'age': 24, 'course': 'ruby'}
sorting age in ascending order
{'_id': ObjectId('646b411d6fad28a48cb2b275'), 'name': 'anu', 'age': 21, 'course': 'python'}
{'_id': ObjectId('646b411d6fad28a48cb2b273'), 'name': 'malar', 'age': 24, 'course': 'java'}
{'_id': ObjectId('646b412b6fad28a48cb2b277'), 'name': 'Lishanth', 'age': 24, 'course': 'ruby'}
{'_id': ObjectId('646b41036fad28a48cb2b272'), 'name': 'jothi', 'age': 25, 'course': 'data science'}
{'_id': ObjectId('646b411d6fad28a48cb2b276'), 'name': 'nirmal', 'age': 26, 'course': 'R'}
{'_id': ObjectId('646b411d6fad28a48cb2b274'), 'name': 'sanat', 'age': 29, 'course': 'javascript'}

#Q7. Explain why delete_one(), delete_many(), and drop() is used.

(i) delete_many() is used to delete all the documents in the collection.
(ii) delete_one() is used to delete a single document in the collection.
(iii) drop() is used to drop a collection from the database.