In [4]:
##Question 1: Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd
df = pd.Series([4,8,15,16,23,42])
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [6]:
##Question 2: Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.
import pandas as pd
print(pd.Series(list(range(10))))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [7]:
##Question 3: create and print the DataFrame.
df={"Name":["Alice","Bob","Claire"],
    "Age":[25,30,27],
    "Gender":["Female","Male","Female"]
   }
print(pd.DataFrame(df))

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [10]:
##Question 4: What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
''' DataFrame is a two-dimensional, mutable and heterogenous data in tabular data structure that stores the values with labelled axis.
It consists of data,rows and columns.
Whereas, pandas.Series is a one-dimesional array with homogenous data with labelled axis.'''
df=pd.DataFrame({"Name":["Alice","Bob","Claire"],
    "Age":[25,30,27],
    "Gender":["Female","Male","Female"]
   })
print(df)

print("-----------------------------")

name = df["Name"]
print(name)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
-----------------------------
0     Alice
1       Bob
2    Claire
Name: Name, dtype: object

In [12]:
##Question 5: What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

'''Adding a new column, Dropping an existing column, Renaming the column name are some of the manipulation function used DataFrame.'''
df=pd.DataFrame({"Name":["Alice","Bob","Claire"],
    "Age":[25,30,27],
    "Gender":["Female","Male","Female"]
   })
print(df)
print("------------------------------")
print("After adding a column")
df["Course"]=["Python","CPP","Java"]
print(df)
print("------------------------------")
print("After renaming a column")
df.rename(columns={"Name":"Student Name"}, inplace=True)
print(df)
print("------------------------------")
print("After dropping a column")
df.drop(columns="Gender", inplace=True)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
------------------------------
After adding a column
     Name  Age  Gender  Course
0   Alice   25  Female  Python
1     Bob   30    Male     CPP
2  Claire   27  Female    Java
------------------------------
After renaming a column
  Student Name  Age  Gender  Course
0        Alice   25  Female  Python
1          Bob   30    Male     CPP
2       Claire   27  Female    Java
------------------------------
After dropping a column

In [ ]:
##Question 6: Which of the following is mutable in nature Series, DataFrame, Panel?
'''Series is an one dimensional homogenous data structure in which size is immutable but data is mutable.
DataFrame is a two dimensional heterogenous data structure in which both size and data is mutable.
Panel is a three dimensional heterogenous data structure in which both size and data is mutable.'''

In [ ]:
##Question 7: Create a DataFrame using multiple Series. Explain with an example.
s1=pd.Series([1,2,3,4])
s2=pd.Series([5,6,7,8])
s3=pd.Series([9,10,11,12])
pd.DataFrame({"col1":s1,"col2":s2,"col3":s3})